*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(./img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    min-height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #f6f2f7;
    border-radius: 15px;
    box-shadow: 2px 2px  6px  rgb(233, 233, 244);
    overflow: hidden;
    padding: 10px;
}
.heading-txt{
    color: #e9d4ef;
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
}
.heading-txt span{
    font-size: 40px;
    color: #953daa;
}
#timer{
    color:rgb(249, 245, 245);
    font-size: larger;
    font-weight: 600;
    padding:4px;
    box-shadow: 0px 0px 2px 1px rgb(254, 253, 254);
        
}
.question{
    background-color: #fff;
    color: #3e3d3d;
    margin:8px;
    border: 2px solid rgb(227, 111, 227);
    border-radius: 5px;
    padding:5px;
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    text-align: center;
}
.option-container{
    display: flex;
    flex-direction: column;
    margin:6px 4px;    
    width: 100%;
    padding: 10px;
}
.option-container input{
    visibility: hidden;   
   
}
.option-container label{   
    background-color: #fff;
    color:rgb(52, 51, 51);
   border: 2px solid rgb(227, 111, 227);
    padding: 5px;
    font-family: sans-serif;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}

.option-container input:checked + label{
    background-color: #ab36ce;
    color:white;
}

#next-button{
    padding:10px;
    width: 90px;
    border: none;
    background-color: #953daa;
    color:white;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    font-family:sans-serif;
}
#next-button:hover{
    background-color: #5613f4;
}
#next-button:active{
    box-shadow:none;    
}
